<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/javascripts/navigation.js"></script>

</head>
<header>
    <button type="button" class="navBtn" id="mainPage" onclick="toMainPage()">Overview</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toProjectsPage()">Projects</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toComponentsPage()">Components</button>
    <button type="button" class="navBtn" id="mainPage" onclick="toChangesPage()">Changes History</button>
    <button type="button" class="navBtn" id="mainPage" onclick="openComponentWindow()">Add Component</button>
</header>

<body>
    <div>
        <form method="POST" action="/newComponent">
            <label for="name">Name of component:</label>
            <br>
            <input type="text" id="name" name="name" value="<%= componentInfo.name%>" required>
            <br>
            <label for="type">Type of component:</label>
            <br>
            <input type="text" id="type" name="type" value="<%= componentInfo.type%>" required>
            <br>
            <label for=" packageType">Package type:</label>
            <br>

            <select name="packageType" id="packageType">
                <%if(componentInfo.packageType === "" || componentInfo.packageType === "THT"){%>
                <option selected>THT</option>
                <option>SMD</option>
                <%}else{%>
                <option>THT</option>
                <option selected>SMD</option>
                <%}%>
            </select>
            <br>
            <label for="package">Package:</label>
            <br>
            <input type="text" id="package" name="package" value="<%= componentInfo.pack%>" required>
                <br>
                <label for="quantity">Quantity:</label>
                <br>
                <input type="text" id="quantity" name="quantity" value="<%= componentInfo.quantity%>" required>
                <br>
                <label for="datasheets">Data sheets:</label>
                <br>
                <input type="text" id="datasheets" name="datasheets" value="<%= componentInfo.datasheets%>" required>
                <br>
                <button type="submit">Submit</button>
        </form>
    </div>
    <h4><%= error%></h4>

</body>

</html>